@import "tailwindcss";

body {
  font-family: var(--font-inter);
}

body {
  @apply bg-gradient-to-b from-[#FF5A1F] via-[#FF8A5C] to-[#FFF3ED];

  overflow: hidden;
}

.text-shadow {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 1);
}
