@import "tailwindcss";

body {
  font-family: var(--font-inter);
}

body {
  background-image: url("/myauto-bg.png");
  background-position: top;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.visual-layer {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  position: fixed;
  inset: 0;
}

.text-shadow {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 1);
}
