@import "tailwindcss";

body {
  font-family: var(--font-inter);
}

body {
  /* background: radial-gradient(
    circle at top,
    #ffd6e9 0%,
    #e7d4ff 40%,
    #d9e8ff 100%
  ); */
  /* @apply bg-[rgb(253, 65, 0)]; */
  overflow: hidden;
}

.text-shadow {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 1);
}
